body {
    padding: 50px 50px 50px 50px;
    background: url(../images/beige-tiles.png) repeat 0 0;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

h1 {
    text-align: center;
    font-family: Corben;
    border-color: darkslategray;
    border-width: 2px;
    padding: 10px;
    text-shadow: 1px 1px 1px #ccc;
    
}

p {
    font-family: Nobile;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
}

a {
    font-family: Nobile;
    display: inline-block;
}

form { 
    font-family: Nobile; 
}

ul { 
    font-family: Nobile;
}

li { 
    font-family: Nobile; 
}

input {
    font-family: Nobile;
    color: darkslategrey;
    background-color: white; 
}

th {
    font-family: Nobile;
    font-size: large;
    color: white;
    background-color: darkslategrey;
    text-align: center;
    padding: 3px 3px 3px 3px;
}

tr {
    font-size: Medium;
    font-family: Nobile;
    color: darkslategrey;
    background-color: white;
    text-align: center;
}

#expired {
    background-color:tomato;
} 

#almost_expired {
    background-color:yellow;
}

#not_expired {
    background-color:greenyellow;
}

table {
    margin: auto;
    padding: 25px 50px 75px 100px;
    justify-content: center;
}