<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Food Items</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h2>Add a Food Item: </h2>

    <label for="descript">Description:</label>
    <input type="text" id="descript" name="descript"><br><br>
    <label for="expir">Expiration Date:</label>
    <input type="text" id="expir" name="expir"><br><br>
    <input type="submit" value="Submit">

    <h2>Your Pantry:</h2>
    <table style="width:100%">
      <tr>
        <th>Description</th>
        <th>Expiration Date</th>
      </tr>
      {% for item in items %}
        <tr>
	  {% for element in item %}
            <td>{{ element  }}</td>
	  {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>